{{ $lazyload := resources.Get "js/lazyload.min.js" }}
{{ $leaflet := resources.Get "js/leaflet.js" }}
{{ $leafletproviders := resources.Get "js/leaflet-providers.js" }}
{{ $simplebar := resources.Get "js/simplebar.min.js" }}
{{ $global := resources.Get "js/global.js" }}
{{ $js := slice $simplebar $leaflet $leafletproviders $global | resources.Concat "js/bundle.js" | resources.Fingerprint }}
<script async src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
<!-- <script async src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script> -->
