<div class="loading">
  <p>U</p>
  <p>Ü</p>
  <div class="avertissement">
    <button class="btn--load">
      <div class="info">OK&nbsp;!</div>
    </button>
    {{ .Site.Params.Warning | markdownify }}
  </div>
</div>

<div class="cursor cursor--main"></div>
<div class="cursor cursor--bg"></div>

<div class="options">
  <button class="button button--menu"><span>i</span></button>
</div>

<header class="menu">
  <a href="{{ .Site.Params.address | safeHTML }}" target="_blank" rel="noopener" class="title__link">{{
    .Site.Params.Title }}</a>
  <div class="menu__content">
    {{ .Site.Params.Presentation | markdownify }}
  </div>
  <div class="credits">
    {{ .Site.Params.credits | markdownify }}
  </div>
</header>
