{{ define "main" }}
<article class="text">
  <h1 class="text__title">{{ .Title }}</h1>
  <section class="text__info">
    <time class="text__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02/01/2006" }}</time>

    {{ if .Params.tags }}
    <span class="text__tags">
     &mdash; tags:
    {{ range .Params.tags }}
      <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a>&nbsp;
    {{ end }}
    </span>
    {{ end }}

    {{ if .Params.categories }}
     &mdash; categories:
    <span class="text__categories">
    {{ range .Params.categories }}
      <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a>&nbsp;
    {{ end }}
    </span>
    {{ end }}
  </section>

  <section class="text__content">
    {{ partial "typography.html" . }}
  </section>
</article>

<section class="pagination">
  {{ if .PrevInSection }}
  <a class="pagination__nav" href="{{.PrevInSection.Permalink}}">Prev</a>
  {{ else }}
  <span class="pagination__nav pagination__nav--off">Prev</span>
  {{ end }}
  {{ if .NextInSection }}
  <a class="pagination__nav" href="{{.NextInSection.Permalink}}">Next</a>
  {{ else }}
  <span class="pagination__nav pagination__nav--off">Next</span>
  {{ end }}
</section>

{{ end }}

